@import "../global/variables";

* {
  font-family: $roboto-font;
  user-select: none;
}

body {
  background: radial-gradient(
      circle,
      rgba($color-primary, $gradient-opacity-login),
      rgba(#4a82f5, $gradient-opacity-login),
      rgba(#667aea, $gradient-opacity-login),
      rgba(#7a71de, $gradient-opacity-login),
      rgba($color-secondary, $gradient-opacity-login)
    ),
    url("../img/nighttraffic.jpg");

  background-size: 100vw 140vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
.panel {
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  position: relative;
  min-width: $min-width-login;
  max-width: $max-width-login;
  width: 100vw;
  min-height: $min-height-login;
  max-height: $max-height-login;
}

.login-panel,
.sign-up-panel {
  background-color: #fff;
  border-radius: 5%;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  &__form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 1em;
  }

  &__title {
    font-size: 2.5em;
    font-weight: 900;
  }
  &__input {
    -webkit-appearance: none; // fix for box shadows on iPhones
    border-radius: 1em;
    border: 1px solid transparent;
    padding: 10px 0;
    height: 2.3em;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    outline: none;
    transition: border-bottom 0.3s;

    width: 70%;
    margin: 0 auto;
    transition: border 0.5s ease-in-out;
    &:focus {
      border: 1px solid $color-tertiary;
      transition: border 0.5s ease-in-out;
      outline: none;
    }
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
  }
  &__submit-btn {
    background-color: $color-tertiary;
    border: none;
    border-radius: 30em;
    margin: 0 auto;
    width: 6em;
    height: 2.3em;
    color: white;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 1px 10px 0px $color-tertiary;
    transition: background-color 0.3s;
    &:hover {
      background-color: $color-secondary;
      box-shadow: 0 1px 10px 0px $color-secondary;
      transition: background-color 0.3s;
    }
  }

  &__footer {
    margin-top: auto;
    font-size: 1.2em;
    color: #888;
    &-anchor {
      color: $color-tertiary;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        transition: color 0.3s;
        color: $color-secondary;
        cursor: pointer;
      }
    }
  }
}

.login-panel__forgor-password {
  color: $color-tertiary;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    transition: color 0.3s;
    color: $color-secondary;
    cursor: pointer;
  }
}

.login-panel {
  &__input:nth-of-type(1) {
    margin-top: 2em;
    gap: 0;
  }
}
.panel--flip {
  transform: rotateY(180deg);
}
.sign-up-panel {
  transform: rotateY(180deg);
}

@media screen and (max-width: 480px) {
  body {
    align-items: flex-start;
  }
  .panel {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 85vh;
    max-height: 85vh;

    .login-panel,
    .sign-up-panel {
      &__form {
        gap: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .panel {
    min-height: 100vh;
    max-height: 100vh;
  }
}
