@import "../global/variables";
html {
  //min-height: 100vh;
  //min-width: 100vw;
  //max-width: 100vw;
  //max-height: 100vh;
  user-select: none;
  font-family: $roboto-font;
  background: radial-gradient(
      circle,
      rgba($color-primary, $gradient-opacity-login),
      rgba(#4a82f5, $gradient-opacity-login),
      rgba(#667aea, $gradient-opacity-login),
      rgba(#7a71de, $gradient-opacity-login),
      rgba($color-secondary, $gradient-opacity-login)
    ),
    url("../img/stopimage.jpg");
}
body {
  margin: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  // right panel
  &__left-panel {
    background-color: white;
    height: 40em;
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto auto;
      grid-gap: 10px;

      gap: 2em;
      &__name {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &__email {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &__phone {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      &__message {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        align-self: center;
        display: flex;
        justify-content: center;
        font-size: 1.1em;
        font-family: $roboto-font;
        font-weight: 400;
        #message {
          resize: none;

          -webkit-appearance: none; // fix for box shadows on iPhones

          height: 5em;
          border-radius: 1em;
          border: 1px solid transparent;
          padding: 10px 1em;

          font-size: 1.1em;
          font-family: $roboto-font;
          font-weight: 400;
          width: 80%;

          outline: none;
          transition: border-bottom 0.3s;

          margin: 0;
          transition: border 0.5s ease-in-out;
          &:focus {
            border: 1px solid $color-tertiary;
            transition: border 0.5s ease-in-out;
            outline: none;
          }
          box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
        }
      }
      &__button--submit {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        align-self: center;
        margin: 0 auto;

        background-color: $color-tertiary;
        border: none;
        border-radius: 30em;
        margin: 0 auto;
        width: 6em;
        height: 2.3em;
        color: white;
        text-align: center;
        font-size: 1.5em;
        cursor: pointer;
        box-shadow: 0 1px 10px 0px $color-tertiary;
        transition: background-color 0.3s;
        &:hover {
          background-color: $color-secondary;
          box-shadow: 0 1px 10px 0px $color-secondary;
          transition: background-color 0.3s;
        }
      }
      &__subject {
        grid-column: 2/3;
        grid-row: 3/4;
      }

      &__title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 2em;

        text-align: center;
      }
      &__input {
        -webkit-appearance: none; // fix for box shadows on iPhones

        height: 2.3em;
        border-radius: 1em;
        border: 1px solid transparent;
        padding: 10px 1em;
        font-size: 1.2em;

        outline: none;
        transition: border-bottom 0.3s;

        margin: 0;
        transition: border 0.5s ease-in-out;
        &:focus {
          border: 1px solid $color-tertiary;
          transition: border 0.5s ease-in-out;
          outline: none;
        }
        box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
      }
    }
  }
  &__right-panel {
    background-color: $color-quaternary;
    height: 24.65em;
    width: 22em;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 2em;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    display: block;
    height: auto;
    &__left-panel {
      width: auto;
      height: auto;
      .form {
        display: flex;
        flex-direction: column;
        &__title {
          padding-top: 1em;
        }
        &__button--submit {
          margin-bottom: 2em;
        }
      }
    }
    &__right-panel {
      width: auto;
      padding: 0;
      text-align: center;
      min-height: 50vh;
    }
  }
}

@media screen and (max-height: 400px) {
  .main {
    &__right-panel {
      height: auto;
    }
  }
}


#message {
  resize: none;

  -webkit-appearance: none; // fix for box shadows on iPhones

  height: 5em;
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 10px 1em;

  font-size: 1.1em;
  font-family: $roboto-font;
  font-weight: 400;
  width: 80%;

  outline: none;
  transition: border-bottom 0.3s;

  margin: 0;
  transition: border 0.5s ease-in-out;
  &:focus {
    border: 1px solid $color-tertiary;
    transition: border 0.5s ease-in-out;
    outline: none;
  }
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
}