@import "../global/variables";
html {
  user-select: none;
  font-family: $roboto-font;
}
body {
  margin: 0;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-quaternary;
    border-radius: 1em;
  }
}

.nav {
  color: white;
  min-width: 100vw;
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $min-height-nav;
  background-color: rgba(255, 255, 255, 0.538);
  color: black;
  position: fixed;
  z-index: 999;

  transition-property: padding-top, color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  padding-top: 2.5vh;
  &--scrolled {
    background-color: white;
    transition: all 0.5s ease-in-out;
    padding-top: 0px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
    color: black;
  }

  &__logo {
    text-decoration: none;
    font-size: 2.5em;
    padding-left: $margin-padding-1;
    box-sizing: border-box;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &-item {
      margin-right: 2vw;

      &:last-of-type {
        margin-right: $margin-padding-1;
      }

      .anchor--not-selected,
      .anchor--selected {
        display: block;
        text-decoration: none;
        color: inherit;

        font-size: 1.5em;
        padding: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
      }

      .anchor--not-selected {
        &:hover {
          color: $color-quaternary;
          transform: scale(1.1);
          transition: transform 0.2s ease-in-out;
        }
      }
      .anchor--selected {
        color: $color-quaternary;
        pointer-events: none;
      }
    }
  }
}

.profile {
  z-index: 0;
  min-height: 40vh;
  background: radial-gradient(
      circle,
      rgba($color-primary, $gradient-opacity-login),
      rgba(#4a82f5, $gradient-opacity-login),
      rgba(#667aea, $gradient-opacity-login),
      rgba(#7a71de, $gradient-opacity-login),
      rgba($color-secondary, $gradient-opacity-login)
    ),
    url("../img/road.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
}

.main {
  min-height: 200vh;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "stats profile-picture Leaderboard"
      "stats last-quizz Leaderboard";

    .stats {
      grid-area: stats;
      background-color: yellow;
      min-height: 30vh;
      min-width: 30vw;
    }

    .last-quizz {
      grid-area: last-quizz;
      background-color: coral;
      min-height: 30vh;
      min-width: 30vw;
    }

    .Leaderboard {
      grid-area: Leaderboard;
      background-color: green;
      min-height: 30vh;
      min-width: 30vw;
    }

    .profile-picture {
      grid-area: profile-picture;
      background-color: blue;
      min-height: 30vh;
      min-width: 30vw;
      position: relative;
      z-index: 2;
      margin-top: -6em;
    }
  }
}
