@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27");
html {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background-color: #00b691;
  border-radius: 1em;
}

.header {
  background: radial-gradient(circle, rgba(0, 139, 255, 0.7), rgba(74, 130, 245, 0.7), rgba(102, 122, 234, 0.7), rgba(122, 113, 222, 0.7), rgba(136, 104, 209, 0.7)), url("../img/stopimage.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 75vh;
}
.header .menu__nav {
  color: white;
  min-width: 100vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5em;
  background-color: transparent;
  position: fixed;
  transition-property: padding-top, color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  padding-top: 2.5vh;
}
.header .menu__nav--scrolled {
  background-color: white;
  transition: all 0.5s ease-in-out;
  padding-top: 0px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
  color: black;
}
.header .menu__logo {
  text-decoration: none;
  font-size: 2.5em;
  padding-left: 12vw;
  box-sizing: border-box;
}
.header .menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header .menu__list-item {
  margin-right: 2vw;
}
.header .menu__list-item:last-of-type {
  margin-right: 12vw;
}
.header .menu__list-item .anchor--not-selected,
.header .menu__list-item .anchor--selected {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  padding: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.header .menu__list-item .anchor--not-selected:hover {
  color: #00b691;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.header .menu__list-item .anchor--selected {
  color: #00b691;
  pointer-events: none;
}
.header .hero {
  padding-top: 15em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  color: white;
  text-align: center;
}
.header .hero__title {
  margin: 0;
  font-size: 4em;
}
.header .hero__description {
  font-size: 2em;
  padding: 0 12vw;
}
.header .hero__button {
  text-decoration: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  background-color: #00b691;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.header .hero__button:hover {
  background-color: rgb(3, 210, 168);
  transition: all 0.2s ease-in-out;
}

.info {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding: 0 12vw;
  gap: 1em;
}
.info__content-1, .info__content-2, .info__content-3 {
  background-color: #00b691;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  height: calc(1em + 30vh);
  width: calc(1em + 30vw);
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 786px) {
  .header .menu__logo {
    padding-left: 0;
  }
  .header .menu__list-item:last-of-type {
    margin-right: 0;
  }
  .info {
    flex-direction: column;
    padding: 0;
    gap: 1em;
  }
  .info__content-1, .info__content-2, .info__content-3 {
    width: 80vw;
  }
}/*# sourceMappingURL=homepage.css.map */