$min-width-login: 5em;
$max-width-login: 30em;
$min-height-login: 45em;
$max-height-login: 45em;
$min-height-nav: 5em;
$gradient-opacity-login: 0.7;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27");
$roboto-font: "Roboto", sans-serif;
$color-primary: #008bff;
$color-secondary: #8868d1;
$color-tertiary: #a53c7d;
$color-quaternary: #00b691;
