@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27");
* {
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  height: 100vh;
}
html::-webkit-scrollbar {
  width: 0.5em;
}
html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
  background-color: #00b691;
  border-radius: 1em;
}

body {
  margin: 0;
}

.nav {
  color: white;
  min-width: 100vw;
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5em;
  background-color: rgba(255, 255, 255, 0.538);
  color: black;
  position: fixed;
  z-index: 999;
  transition-property: padding-top, color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  padding-top: 2.5vh;
}
.nav--scrolled {
  background-color: white;
  transition: all 0.5s ease-in-out;
  padding-top: 0px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.395);
  color: black;
}
.nav__logo {
  text-decoration: none;
  font-size: 2.5em;
  padding-left: 12vw;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav__list-item {
  margin-right: 2vw;
}
.nav__list-item:last-of-type {
  margin-right: 12vw;
}
.nav__list-item .anchor--not-selected,
.nav__list-item .anchor--selected {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  padding: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.nav__list-item .anchor--not-selected:hover {
  color: #00b691;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.nav__list-item .anchor--selected {
  color: #00b691;
  pointer-events: none;
}

.quizzes {
  margin-top: 5em;
  padding-bottom: 5em;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
}
.quizzes .quiz {
  flex-basis: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.309);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.quizzes .quiz__title {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0;
}
.quizzes .quiz__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quizzes .quiz__button--start, .quizzes .quiz__button--delete, .quizzes .quiz__button--generate {
  background-color: rgba(72, 104, 86, 0.314);
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 1em;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.quizzes .quiz__button--start .anchor--not-selected, .quizzes .quiz__button--delete .anchor--not-selected, .quizzes .quiz__button--generate .anchor--not-selected {
  text-decoration: none;
  color: inherit;
}
.quizzes .quiz__button--start:hover, .quizzes .quiz__button--delete:hover, .quizzes .quiz__button--generate:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #00b691;
  color: white;
  border-radius: 10px;
  padding: 1em;
}
.quizzes .quiz__button--start:active, .quizzes .quiz__button--delete:active, .quizzes .quiz__button--generate:active {
  transform: scale(0.9);
}
.quizzes .quiz__score {
  border-radius: 1em;
  padding: 0.5em;
  color: white;
}
.quizzes .quiz__score--passed {
  background-color: #00b691;
}
.quizzes .quiz__score--failed {
  background-color: rgb(195, 11, 11);
}
.quizzes .quiz__score--not-completed {
  background-color: grey;
}

.fundal {
  z-index: 0;
  min-height: 40vh;
  background: radial-gradient(circle, rgba(0, 139, 255, 0.7), rgba(74, 130, 245, 0.7), rgba(102, 122, 234, 0.7), rgba(122, 113, 222, 0.7), rgba(136, 104, 209, 0.7)), url("../img/road.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  border-bottom: 3px solid #00b691;
}

@media screen and (max-width: 930px) {
  html {
    overflow-x: hidden;
  }
  .nav {
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .nav {
    font-size: 11px;
  }
  .nav__logo {
    padding-left: 1em;
  }
  .fundal {
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    background-position: center 0;
  }
  .hero .nav__logo {
    padding-left: 2.5vw;
  }
  .hero .nav__list-item:last-of-type {
    margin-right: 0;
  }
}/*# sourceMappingURL=quiz.css.map */